<header>
  <a href="/memberships" class="<%= activePage === 'memberships' ? 'active-link' : '' %>">Memberships</a>
  <a href="/users" class="<%= activePage === 'users' ? 'active-link' : '' %>">Users</a>
</header>
